body{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lora";
}
.Resaltado{
  background-color: yellow;
}
#menu-principal{
  padding: 10px 0px;
}
#Titulo{
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
}
footer{
  border-top: solid;
  border-top-width: 1px;
  border-top-color: black;
  padding-top: 10px;
  text-align: center;
}
@font-face {
  font-family: "FuenteLato";
  src: url(../fuentes/Lato-Regular.ttf);
}
#menu-principal{
  font-family: "FuenteLato";
  font-style: italic;
}
#Titulo{
  font-family: "FuenteLato";
  font-variant: small-caps;
}
